/* Foundational CSS - Structural and infrastructure styles */
@import './styles/styles.css';

@tailwind base;

@tailwind components;

@tailwind utilities;


/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;